body {
  padding-top: 20px;
  /*验证信息*/
}
body div.container > div.row:last-child {
  padding: 15px 10px;
}
body div.container > div.row:last-child > div.col-md-4 {
  border-radius: 5px;
  background-color: #efefef;
  border: 1px solid #eee;
  padding: 10px 15px;
}
body span.field-validation-error {
  color: red;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
}
